progressbar.dl > trough > progress {
    background: @green_1;
}

progressbar.up > trough > progress {
    transition: 1s;
    background: @purple_1;
}

gauge.dl > .gradient-1 {
    color: @blue_4;
}

gauge.dl > .gradient-2 {
    color: @green_2;
}

gauge.up > .gradient-1 {
    color: @blue_5;
}

gauge.up > .gradient-2 {
    color: @purple_1;
}