progressbar.dl > trough > progress {
    background: @green_1;
}

progressbar.up > trough > progress {
    transition: 1s;
    background: @purple_1;
}

gauge.dl > .gradient-1 {
    color: @blue_4;
}

gauge.dl > .gradient-2 {
    color: @green_2;
}

gauge.up > .gradient-1 {
    color: @blue_5;
}

gauge.up > .gradient-2 {
    color: @purple_1;
}

gauge .filled {
    transition: 1s;
    transition-timing-function: ease-in-out;
}

gauge.dl .filled {
    filter: drop-shadow(0 0 7px alpha(@green_1, 0.25)) brightness(100%);
}

gauge.up .filled {
    filter: drop-shadow(0 0 7px alpha(@purple_1, 0.25)) brightness(100%);
}

gauge.dl.active .filled {
    filter: drop-shadow(0 0 10px alpha(@green_1, 0.5)) brightness(125%);
}

gauge.up.active .filled {
    filter: drop-shadow(0 0 10px alpha(@purple_1, 0.5)) brightness(125%);
}